<% content_for(:title, 'All Lessons') %>

<% content_for(:nav) do %>
<a href="/">Sections</a>
<a href="/lessons/">Lessons</a>
<% end %>

<h1>Lessons</h1>

<% ordered_lessons = @lessons.sort_by{|lesson| lesson.lesson_number} %>

<ul>
  <% ordered_lessons.each do |lesson| %>
  <li><%= lesson.lesson_number %>
    <a href='/lessons/<%= lesson.id %>'><%= lesson.name %></a> ||
    <a href="/lessons/<%= lesson.id %>/edit">Edit</a> ||
    <a href="/lessons/<%= lesson.id %>"
      data-confirm="Are you sure you really want to do that?"
      data-method="delete"
      rel="nofollow">DELETE IT</a>
  </li>
  <% end %>
</ul>

<p><a href='/lessons/new'>Add a lesson</a></p>
