<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
  <div class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/">Sections</a></li>
      <li><a href="/lessons/">Lessons</a></li>
    </ul>
  </div>
</div>
<body>

<div class="container">
<%= flash[:alert] %>
<%= flash[:notice] %>
<%= yield %>
</div>


</body>
</html>
